/* ChatInterface.css */
.zen-chat-container {
    width: 600px;
    height:650px;
    margin-left:1650px;
    /* margin: 50px auto; */
    padding: 20px;
    /* z-index:4; */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .zen-response-container {
    color: #fff; /* Set font color to white */
    width:400px;
    background-color: #4CAF50; /* Set background color to a green shade */
    border-radius: 10px; /* Add rounded corners */
    padding: 20px; /* Add some padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Add a subtle shadow */
    font-family: Arial, sans-serif; /* Use a fallback font */
}
  .zen-input-container {
    display: flex;
    margin-bottom: 10px;
    padding-top:15px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    z-index:2;
  }
  
  .zen-button {
    z-index:2;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .zen-chat-history {
    padding:10px;
    margin-top: 20px;
  }
  
  .zen-chat-bubble {

    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .user-message {
    background-color: #e3f2fd;
  }
  
  .ai-message {
    background-color: #f0f0f0;
  }

  
  